.carusel__website-box{
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto
}
    .carusel__website-item{
        background-color: rgb(28, 150, 38);
        height: 100vh;
        width: 100vw;
        margin: 10px;
        flex-shrink: 0;
    }

    .carusel__website-item-red{
        background-color: rgb(150, 28, 28);
    }
