
/*gallery list*/

.gallery__logo-container {
  width: 100%;
  height: 18rem;
  /*max-width: 1200px;*/
  margin: 50px auto;
  padding: 0 1rem;
}

 .gallery__logo-list {

  display: flex;
  flex-wrap: nowrap;

  overflow-x: auto;     /*pozwala scrollowa*/
  overflow-y: hidden;      /*ukrywa pionowy scroll*/
  /*scroll-behavior: smooth;   - płynne przewijanie wył */

  gap: 2rem;
  justify-items: center;
}


.gallery__logo-list::-webkit-scrollbar {
  display: none;
}



.gallery__logo-item{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 18rem;
    cursor: pointer;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /*border: 1px solid #ba6529;*/
    background-color: #fff5ec;

}

.gallery__logo-item img{
    max-height: 14rem;
    padding: 15px;
}


/*popup*/

.gallery__popup{
    height: 100vh;
    width: 100vw;
    background-color: var(--white);

    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-modal);

    
    flex-direction: row;
    flex-wrap: nowrap;
    display: none;
}

    .gallery__popup-active{
        display: flex;
    }

        .gallery__popup-close{
            cursor: pointer;
            position: absolute;
            right: 2rem;
            top: 2rem;
        }

        .gallery__popup-describe, .gallery__popup-logo{
            height: 100vh;
            width: 50vw;
        }

        .gallery__popup-describe{
            background-color: var(--orange);

            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .gallery__popup-logo{
            background-color: var(--white);

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gallery__popup-logo img{
            max-width: 100%;
        }