section:nth-child(even) { background-color: var(--orange)}
section:nth-child(odd) { background-color: var(--white) }






/*MAIN*/

/*LOGO*/

#logo-gallery{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: relative;

    text-align: center;
     ackground: linear-gradient(to bottom, #db7f37 0%, #cf6f2d 100%);

    /*bbackground: 
        linear-gradient(to bottom, #db7f37 0%, #cf6f2d 100%),
        url('/images/noise-lines.png');*/
    background-blend-mode: overlay;
    

}

#logo-gallery h2{
    /*text-align: center;*/
    color: var(--white);
    margin-bottom: 50px;
    font-size: var(--font-big-hero);
    
}

/*WWW*/

#carusel-website div{
    height: 100vh;
    width: 100vw;
}

/*KONTAKT*/

.contact{
    width: 100%;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: calc(100vh - 10rem);
}

.contact div {
    padding-top: 25vh;
    padding-left: 10rem;
    height: 100vh;
}

.contact div:nth-child(1){
    background-color: var(--white);
    width: 50vw;
}


footer{
    height: 10rem;
}