/* Slider */


#slider__website-container {
    position: relative;
    
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    height: calc(100vh - 40px);

    overflow: hidden;
}

    @media screen and (min-width: 2560px) {
        #slider__website-container {
            height: calc(50vh - 55px);
        }
    }

.slider__website-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}


    /*.slider__website-item img {
        width: 100vw;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
    }*/

    .slider__website-item {
        width: 100%;
        max-width: 2560px;
        flex-shrink: 0;
    }

    .slider__website-item img {
        /*width: 100%;
        height: 100%;
        object-fit: cover;*/
        display: block;
    }


/* Buttons */

        .slider__website-changer {
            position: absolute;
            top: 45%;
            left: 5%;
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
        
        .slider__website-changer button {
            width: 50px;
            background-color: unset;
            border: 0px;
            font-size: 36px;
            
        }


/* Dots */

.dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.dots li.active {
    width: 30px;
}

/* swiper */

.slider__website-list {
    touch-action: pan-y;
    cursor: grab;
}

.slider__website-item img {
    pointer-events: none;
    user-select: none;
}

.slider__website-list {
    user-select: none;
}
