section:nth-child(1) { background-color: #ffffff; }
section:nth-child(2) { background-color: #ffffff; }
section:nth-child(3) { background-color: #db7f37; }
section:nth-child(4) { background-color: #ffffff; }
section:nth-child(5) { background-color: #db7f37; }
// _globals.scss
$orange: #db7f37;